html,body{
  padding:0;
  margin:0;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
}
h1{font-size: 60px;}
p{font-size: 16px;}
.right-border{
  border-right: #707070 1px solid;
}

/* Overwritten Bootstrap style for some elements */
.modal-content{height: 90vh;}
.modal-body{overflow-y: scroll;}
.fa-star:hover{
  color:#919191;
}
.modal-header{
  border: none;
}
.navbar{
  padding:0 45px;
}
.nav-link{
  margin-bottom:0px;
}
.nav-item a:hover{
  cursor: pointer;
}
.container-fluid{
  padding: 0px;
}
.row{
  padding-right: 45px;
  padding-left: 45px;
  margin:0;
}
.card-img-top{
  height: 250px;
}
.card{
  height: 100%;
}
.list-group-item{
  background-color:#fff;
  border-bottom:1px solid #f2f2f2;
  color:#707070;
}
.list-group{
  transform: translate(-23%, 8.3px);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-group::after{
content: ' ';
position: absolute;
top:-11px;
left:40%;
width: 0; 
height: 0; 
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 11px solid #f3f3f3;
}
.list-group-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.form-group {
  margin-bottom: 1rem;
  width: 422px;
  padding: 1rem;
}
.form-control{
  font-size: .9rem;
}
.form-row{
  padding: 1rem;
}
/* .active{
  background-color: #f2f2f2;
  color:black;
} */
.sidenav{
  height: 100%;
  width: 100%;
}
.sidenav ul li:hover{
cursor: pointer;
background-color: #f2f2f2;
color:black;
}
.modal{
  display: block;
  background-color: rgba(2,5,2,0.2)
}
.jumbotron{
  margin-bottom:.5rem;
  border-radius: 0;
}
.StripeElement{
  background-color: #fff;
  padding: 16px;
  margin:1rem;
}
/* Customer made classes and styles */
/* Vertically center div*/
.nav-item span{
  cursor: pointer;
}
.landing-section{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.img-cont{
  background-image: url('./images/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
.landing-section button{
  opacity: .8;
}
.fa-shopping-cart .fa-user{
  font-size: 1.3rem;
}
.fa-sign-out-alt{font-size: .8rem;}
#top-menu{
  position: absolute;
  right: 0;
  padding-right: 30px;
}
.img-desc{
  height: 110%;
  width: 50%;
}
.body-content{
  position: relative;
  height: 320px;
  background-color:#1A80B6
}
.body-desc{
  position: absolute;
  top: 111px;
  left: 44%;
}
.body-desc-2{
  position: absolute;
  top: 111px;
  right: 44%;
}
.sub-btn{
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.7rem 2.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s;
}
.body-content a:hover{
  color:#fff;
  transform: scale(1.1);
}
footer{
  position:relative;
  bottom: 0;
  background-color: #1178A5;
}
footer ul{
  display: inline-grid;
  padding: 0 2rem;
  margin: 0;
  color:#fff;
  list-style: none;
  font-size: 12px;
}

footer ul p{
  margin:0;
  border-bottom: 1px solid #fff;
}
.card-container:hover::before{
  color:black;
  transform: scale(1.2);
}
#inCart{
  transform: translate(-9px,-12px);
    font-size: 13px;
    background-color: #1178A5;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
}
#mobileCart{
  position: absolute;
  right:10px;
  display: none;
}
.small-text{
  font-size: 14px;
  color:#919191;
}
.slidein{
  animation-name: slidein;
  animation-duration:6s;
  transition: transform 4s;
  top:20%;
  left:25%;
  z-index: 1000;
}
#burger-menu{
  display: none;
}
/* Burger Menu */
.burger{
  z-index: 250;
  list-style: none;
  top: 39px;
  position: absolute;
  color:black;
  background-color:#fff;
  padding: 0;
  width: 35%;
  box-shadow: 0 5px 8px 0;
}
.burger li{
  padding: 1rem;
  margin:0;
}
.burger li a {
  color:black;
}
.sublist{
  list-style-type: none;
  padding: 0;
}
.sublist li{
  padding: .5rem 1rem 0 1rem;
}
.sublist li a {
  font-size: 12px;
}
.slideout{
  animation-name: slideout;
  animation-duration: 1s;
  transition: ease-out;
  animation-direction: normal;
}
.fa-angle-up, .fa-angle-down{
  font-size: 13px;
}
.card-body{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.btn-blue{
  background-color: #104B87;
  color: #fff;
}

.btn-blue:hover{
  background-color: #fff;
  border:#104B87 solid 2px;
  font: #104B87;
}
.card-img-menu{
  height: 250px;
  width: 250px;
  border-radius: 200px;
}
.bg-lblue{
  background-color: #A3C7E5;
}
.tag-name{font-size:18px; color:#104B87; font-weight: 400;}
.featured-item{height: 400px; width: 400px; border-radius: 15px;}
.jumbotron{height: 350px;}
.btn-add{
  height: 40px;
  width: 40px;
  background-color: #1178A5;
  border-radius: 30px;
  position: absolute;
  right: 0;
  transform: translateY(-90%);
}
.btn-add:hover{
  cursor:pointer;
}
.fa-cart-plus{
  color: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.alert{
  z-index: 500;
  top:50%;
}
.navbar-brand{
  left: 50%;
  color: #707070;
  font-weight: 900;
  font-size: 25px;
}
.navbar-brand:hover{
  transform: scale(1.1);
  color: #1A80B6;
}
/* KeyFrames */
@keyframes slidein{
  from{height: 20%;}
  to{height: 100%;}
}

 @keyframes slideout{
  from{opacity:0;}
  to{opacity:1;}
}
@media (max-width:440px){
  h1{
    font-size: 3.70rem;
  }
  h3{
    font-size: 1.30rem;
  }
  h1,h3{text-align: center; margin-left: 0;}
  
}
@media (max-width:576px){
  h1{
    margin-top: 3rem;
    font-size: 45px !important;
  }
  h3{
    font-size: 2rem !important;
  }
  .img-cont{
  height: 250px;
  background-size: contain;
  background-position-x: center;
  }
  .card-img-menu{
    height: 150px;
    width: 150px;
  }
  .btn-blue{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h1,h3,p{text-align: center; margin-left: 0;}
  .navbar-brand{
    font-size: 1rem;
  }
  .nav-link{
    font-size: .85rem;
  }
  .body-desc{
    left:36%;
  }
  .body-desc-2{
    right:23%;
  }
  .navbar-brand{
    font-size: .8rem;
  }
  .nav-link{
    font-size: .65rem;
    display: none;
  }
  .nav-item::before{
    display: none;
  }
  #burger-menu{
    display: block;
    float:left;
    margin-left: 1rem;
  }
  .fa-bars{
    cursor: pointer;
    color:#104B87;
  }
  .justify-content-center{
    justify-content: start !important;
  }
  #mobileCart{
    display: block;
  }
  .small-text{
    font-size: 12px;
  }
  /* .d-flex{
    display: block !important;
  } */
  .d-flex img{
    width: 100%;
  }
  .row{
    padding: 0;
  }
  .navbar{
    padding: 0 !important;
  }
}

@media (max-width:759px){
  .card{
   width: 300px;
   margin: 0 auto; 
  }
  h1{
    font-size: 1.80rem;
  }
  h3{
    font-size: 1.50rem;
  }
  footer ul{
    display: inline;
    margin: 10px 0rem;
  }
}
@media (max-width: 1010px) {
}

@media (max-width: 1270px) {

  }
  