html,body{
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}
label{
  margin: .5rem 0 0 0;
}
p{
  font-size: 16px;
}
/* Overwritten Bootstrap style for some elements */
.navbar{
  padding:0;
}
.nav-link{
  margin-bottom:0px;
}
.nav-item a:hover{
  cursor: pointer;
}
.container-fluid{
  padding: 0;
}
.row{
  padding-right: 15px;
  padding-left: 15px;
  margin:0;
}
.card-img-top{
  height: 250px;
}
.card{
  height: 100%;
}
.list-group-item{
  background-color:rgb(26, 128, 182);
  border-bottom:1px solid #f2f2f2;
}
.list-group{
  transform: translate(-23%, 8.3px)
}
.list-group::after{
content: ' ';
position: absolute;
top:-11px;
left:40%;
width: 0; 
height: 0; 
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 11px solid #fff;
}
.list-group-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.form-group {
  margin-bottom: 1rem;
  width: 422px;
  background: #f2f2f2;
  padding: 1rem;
}
.active{
  background-color: #f2f2f2;
  color:black;
}
.sidenav{
  height: 100%;
  width: 100%;
}
.sidenav ul li:hover{
cursor: pointer;
background-color: #f2f2f2;
color:black;
}
.modal{
  display: block;
  background-color: rgba(2,5,2,0.2)
}
/* Customer made classes and styles */
/* Vertically center div*/
.nav-item span{
  cursor: pointer;
}
.landing-section{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.img-cont{
  background-image: url('./images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
.landing-section button{
  opacity: .8;
}
.fa-shopping-cart{
  font-size: 1.3rem;
}
.logo{
  position: absolute!important;
  left: 15px;
  transform: translateY(-32px);
  color: #fff;
}
.nav-item:before{
  content: ' ';
  height:70%;
  width: 1px;
  position: absolute;
  background-color: #ffff;
  transform: translateY(3px);
}

#top-menu{
  position: absolute;
  right: 0;
}
.img-desc{
  height: 110%;
  width: 50%;
}
.body-content{
  position: relative;
  height: 320px;
  background-color:#1A80B6
}
.body-desc{
  position: absolute;
  top: 111px;
  left: 44%;
}
.body-desc-2{
  position: absolute;
  top: 111px;
  right: 44%;
}
.sub-btn{
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.7rem 2.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s;
}
.body-content a:hover{
  color:#fff;
  transform: scale(1.1);
}
footer ul{
  display: inline-grid;
  padding: 0 2rem;
  margin: 0;
  color:#fff;
  list-style: none;
  font-size: 12px;
}

footer ul p{
  margin:0;
  border-bottom: 1px solid #fff;
}
.card-container::before{
  content: "\f055";
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  color:#DB4437;
  right: 5px;
  top: 60%;
  font-weight: 900;
  font-size: 2.5rem;
  cursor: pointer;
}
.card-container:hover::before{
  color:black;
  transform: scale(1.2);
}
#inCart{
  transform: translate(-9px,-5px);
    font-size: 11px;
    background-color: rgba(255,255,255,.7);
    border-radius: 6px;
    padding: 2px;
}
#qty{
  font-size: 10px;
  color:#919191;
}
.slidein{
  animation-name: slidein;
  animation-duration:6s;
  transition: transform 4s;
  top:20%;
  left:25%;
  z-index: 1000;
}
/* KeyFrames */
@keyframes slidein{
  from{
      display: none;
  }
  to{
      display: block;
  }
}